:root { 
--black_900_01:#020101; 
--black_900_2b:#0201012b; 
--black_900_33:#02010133; 
--teal_800:#156f5b; 
--black_900:#000000; 
--gray_800:#4d4d4d; 
--gray_900:#212121; 
--gray_900_01:#1f1f1f; 
--white_A700:#ffffff; 
--orange_200:#f3bf6c; 
--gray_100:#f3f8f7; 
}